.box {
  width: 100%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #ee2761;
  border: 2px solid #ee2761;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  color: #333333;
  border: 2px solid #333333;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay.show {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-size:20px;
  line-height: 2rem;
}
.formhead{
  color:#C69D5F;
  font-size:12px;
  text-transform:uppercase;
  font-weight:500;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #ee2761;
}
.popup .close:hover {
  color: #333;
}
.popup .headerstyl{
  padding: 5px;
  width:95%;
  border: 3px solid #fae1dd;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #f8edeb;
}
.popup .headerstyl p{
	margin-bottom:0px;
}
.popup .headerstyl span{
	font-size:13px;
	color:#000;
}
.popup .content {
  height: 390px;
  overflow-y: auto;
}
.popup label {
  display: inline-block;
}
.popupproductheading{
  font-size: 14px !important;
  color: #2F3751 !important;
  font-weight: 600 !important;
  line-height:17px !important;
}

@media screen and (max-width: 700px){
  .box{
    width: 90%;
  }
  .popup{
    width: 90%;
  }
  .popupproductheading{
  font-size: 11px !important;
  line-height:14px !important;
}
}

.imgradio{list-style-type: none;text-align: center;}
input[type="radio"][id^="logop00"] {
  display: none;
}

.popup label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.popup label.variant__color--value2 {display:inline-block;font-size: 15px;}

.popup label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

.popup :checked + label {
  border-color: #ddd;
}

.popup :checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

.popup :checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

.thumbnail_slider {
  max-width: 700px;
  margin: 30px auto;
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 580px;
  overflow: hidden;
  transition: .2s;
  border-width: 2px !important;
  margin: 10px 4px;
}

.splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
  box-shadow: 2px 3px 8px #000000a3;
}

.splide__slide img {
  width: auto;
  height: auto;
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
  
}
.overflow-hidden{
  overflow: hidden;
}

.sideitemspace.active {
  color: #F96167;
}
.splide--fade>.splide__track>.splide__list>.splide__slide{
  background: #FFF !important;
  height: 420px !important;
}
.splide--fade>.splide__track>.splide__list>.splide__slide img{

  display: block !important;
}
@media screen and (max-width: 549px) {
  .popup {
      width: 100%;
      margin: 0;
      height: 100vh;
  }
  .popup .content {
      height: 55vh;
      overflow-y: auto;
  }
  ul.imgradio {
      display: inline-block;
  }
  ul.imgradio li {
      display: inline-block;
  }
  ul.imgradio li label{
    margin-top: 0;
  }
}
